@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  background-color: #ffffff;
}
